
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Component.InvokeAsync("_DefaultBannerComponentPartial")
<section class="section lb">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                @await Component.InvokeAsync("_DefaultArticleListComponentPartial")
            </div><!-- end col -->
 
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="sidebar">
                    @await Component.InvokeAsync("_DefaultResentPostsComponentPartial")
                    @await Component.InvokeAsync("_DefaultCategoryListComponentPartial")
                </div><!-- end sidebar -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>