<!DOCTYPE html>
<html lang="tr">
@await Component.InvokeAsync("_LayoutHeadComponentPartial")

<body>
        @await Component.InvokeAsync("_LayoutHeaderComponentPartial")
            @RenderBody()
        @await Component.InvokeAsync("_LayoutFooterComponentPartial")
</body>
</html>