@model List<MyBlogNight.EntityLayer.Concrete.Category>
@{
    Layout = null;
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<div class="container my-5 p-4 bg-white rounded shadow-sm">
    <div class="table-responsive">
        <table class="table table-hover table-striped align-middle">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Kategori Adı</th>
                    <th scope="col">Sil</th>
                    <th scope="col">Güncelle</th>
                    <th scope="col">Bloglar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CategoryId</td>
                        <td>@item.CategoryName</td>
                        <td><a class="btn btn-danger btn-sm text-white"><i class="fas fa-trash-alt"></i> Sil</a></td>
                        <td><a class="btn btn-success btn-sm text-white"><i class="fas fa-edit"></i> Güncelle</a></td>
                        <td><a class="btn btn-warning btn-sm text-white"><i class="fas fa-blog"></i> Bloglar</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="text-end">
        <a href="#" class="btn btn-primary btn-sm mt-3"><i class="fas fa-plus-circle"></i> Yeni Kategori Ekle</a>
    </div>
</div>
